.about{
    background: var(--color-three);
    width: 100%;
    min-height: calc(100vh - 4rem);
    margin: auto;
    display: flex;
    flex-flow: row wrap;

    background-color: #203C38;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23203C38' width='11' height='11'/%3E%3Crect fill='%23213f3a' x='10' width='11' height='11'/%3E%3Crect fill='%2323423d' y='10' width='11' height='11'/%3E%3Crect fill='%2324453f' x='20' width='11' height='11'/%3E%3Crect fill='%23254842' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23274b44' y='20' width='11' height='11'/%3E%3Crect fill='%23284e47' x='30' width='11' height='11'/%3E%3Crect fill='%232a5149' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%232b544c' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232d574e' y='30' width='11' height='11'/%3E%3Crect fill='%232e5a50' x='40' width='11' height='11'/%3E%3Crect fill='%23305d53' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23326055' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23336358' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2335665a' y='40' width='11' height='11'/%3E%3Crect fill='%2337695c' x='50' width='11' height='11'/%3E%3Crect fill='%23396c5f' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%233a6f61' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%233c7263' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%233e7666' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23407968' y='50' width='11' height='11'/%3E%3Crect fill='%23427c6a' x='60' width='11' height='11'/%3E%3Crect fill='%23447f6d' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2346826f' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23488671' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%234a8973' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%234c8c76' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%234f8f78' x='70' width='11' height='11'/%3E%3Crect fill='%2351937a' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2353967c' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2355997f' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23589c81' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%235aa083' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235da385' x='80' width='11' height='11'/%3E%3Crect fill='%235fa687' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2362aa89' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2364ad8b' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2367b18d' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2369b490' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%236cb792' x='90' width='11' height='11'/%3E%3Crect fill='%236fbb94' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2371be96' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2374c198' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2377c59a' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%237ac89c' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%237dcc9e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2380cfa0' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2383d2a2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2386d6a4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2389d9a5' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%238cdda7' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%238fe0a9' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2392e4ab' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2396e7ad' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2399ebaf' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%239ceeb1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23a0f2b3' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23a3f5b4' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23a7f9b6' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23AAFCB8' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    h2{
        font-size: clamp(2rem, 1rem + 8vw, 4.8rem);
        font-family: madeTommy__bold;
        color: var(--color-four);
        text-align: center;
        line-height: 1.1;   
        margin-bottom: .8rem;
        text-shadow: 2px 2px 0 var(--color-one);
    }

    p{
        color: var(--color-four);
        font-family: madeTommy__thin;
        font-size: clamp(1rem, .5rem + 4vw, 1.8rem);
        max-width: 80ch;
        text-align: left;
    }

    &__img{
        flex: 1;
        max-height: calc(100vh - 4rem);

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include laptop{
                width: 100%;
                max-height: 44vh;
            }
        }

        @include laptop{
            width: 100%;
            min-height: 0;
        }
    }

    &__text{
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        &__content{
            display: flex;
            flex-flow: column wrap;
            max-width: 80ch;
            margin: auto;
            padding: 2rem;

            @include laptop{
                max-width: 100ch;
            }
        }

        @include laptop{
            width: 100%;
        }
    }

    @include laptop{
        flex-flow: column wrap;
    }
}