@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import "./variables";
@import "./responsive";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 100%;
}

ul,
ol,
li,
a,
h1,
h2,
h3,
p,
body,
header,
section,
footer,
.container,
.container-fluid,
.row,
.col {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    width: 100%;
}

body {
    background: $blanco;
    background-position: center;
    color: $negro-texto;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include laptop-l {
        font-size: 14px;
    }

    @include laptop {
        font-size: 12px;
    }

    @include tablet {
        font-size: 10px;

        p,
        label {
            font-size: 14px;
        }
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $blanco;
}
