main{
    width: 100%;
    height: 100%;
    margin: auto;
    background: white;
    display: flex;
    flex-flow: column wrap;
}

.home{
    min-height: 100vh;
    a{
        background: var(--color-one);
        color: var(--color-four);

        &:hover{
            color: var(--color-two);
        }
    }
}