@import "./variables";
@import "./responsive";

.header {
    background: var(--color-one);
    box-shadow: 0 0 8px 0 var(--color-one-light);
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 4rem;

    &__navegacion {
        width: 100%;
        background: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;

        &--logoimg {
            height: 3.4rem;
            margin-top: .24rem;
        }

        &--menu {
            z-index: 999;
            display: flex;
            top: 0;
            transition: all ease .2s;
            margin-right: 1rem;

            @include tablet {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                overflow: hidden;
                position: fixed;
                font-size: 160%;
                background: linear-gradient(var(--color-one), var(--color-one-light));
                background-size: cover;
                background-position: center;
                top: 4.7rem;
                left: 0;
                width: 100%;
                height: 0;
            }

        }

        &--menu-mobile {
            @include tablet {
                top: 4rem;
                height: calc(100vh - 4rem);
            }
        }

        // Menu Hamburguesa

        #btn-menu {
            display: none;
            background: none;
            border: none;
            outline: none;
            margin-right: 2.2rem;
            height: 1.875rem;
            width: 30px;
            position: relative;
            transition: all ease .3s;
            cursor: pointer;

            @include tablet {
                display: block;
            }
        }


        #btn-logo {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            margin-left: 1rem;
        }

        #btn-link-1 {
            @include botones-menu;
        }

        #btn-link-2 {
            @include botones-menu;
        }

        #btn-link-3 {
            @include botones-menu;
        }

        #btn-link-4 {
            @include botones-menu;
        }

        &--lineas {
            position: absolute;
            content: "";
            background: var(--color-four);
            width: 30px;
            height: 4px;
            border-radius: $borde-redondeado;
            transition: all ease .3s;
        }

        &--linea-1 {
            top: 0;
        }

        &--linea-2 {
            top: 10px;
        }

        &--linea-3 {
            top: 20px;
        }

        .l1-active {
            transform: rotate(-140deg);
            top: 10px;
        }

        .l2-active {
            opacity: 0;
        }

        .l3-active {
            transform: rotate(140deg);
            top: 10px;
        }


        // Sub Menu

        &--link-menu {
            display: block;
            padding: 0.4rem 0.8rem;
            color: var(--color-four);
            font-size: 140%;
            letter-spacing: 1px;
            transition: ease all .3s;
            border-radius: .2em;
            box-shadow: 1px 1px 0 0 var(--color-two), 4px 4px 0 0 var(--color-two);

            @include laptop {
                padding: 0.4rem 0.4rem;
                font-size: 160%;
            }

            @include tablet {
                font-size: 200%;
                margin: 0.625rem 0rem;
                background: none;
                color: $blanco;
                box-shadow: 1px 1px var(--color-two), 5px 5px 0 0 var(--color-two);
                
            }

            &:hover {
                color: var(--color-two);
                transform: translate(2px, 2px);
                box-shadow: 1px 1px 0 0 var(--color-two), 3px 3px 0 0 var(--color-two);

                @include tablet {
                    /* transform: none; */

                    box-shadow: 1px 1px var(--color-two), 3px 3px 0 0 var(--color-two);
                }
            }
        }
    }

}
