.products{
    width: 100%;
    max-width: 1800px;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 4rem; /* temporal, para dejar lugar al nav */

    &__button{
        border: none;
        background: none;
        outline: none;
        margin-top: 2rem;
        font-size: 2rem;
        padding: .8rem;
        border: 2px solid darkslategrey;
        border-radius: .4em;
        font-weight: 700;
        color: rgb(30, 30, 30);
        background: salmon;

        &:hover, &:focus{
            color: darkslategrey;
        }
    }

    &__info{
        width: 50%;
        border-right: 4px dashed darkslategray;
        padding-left: 4rem;
        padding-right: 4rem;

        &__container{
            width: 100%;
            height: 100%;
            max-width: 80ch;
            margin: auto;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 3.4rem;
                font-weight: 700;
                color: rgb(30, 30, 30);
                text-align: center;
                line-height: 1.2;
            }
    
            p{
                font-size: 1.3rem;
                font-weight: 400;
                color: darkslategrey;
                text-align: center;
            }
        } 

        @include laptop{
            width: 100%;
            border: none;
            padding: 4rem;
            padding-bottom: 0;
        }
    }

    &__productsContainer{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        transform: translateX(-150vw);
        transition: transform 400ms;
        position: fixed;
        inset: 10%;
        background: darkseagreen;
        border: 4px solid darkslategrey;
        border-radius: .4em;
        overflow-x: hidden;
        overflow-y: scroll;

        @include laptop{
            padding: 0;
        }

        & > button{
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            border-radius: 0 0 0 .4em;
        }
    }

    &__products{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 1fr;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        gap: 4rem;
        margin: 4rem;

        &__producto{
            aspect-ratio: 3 / 5;
            width: 20%;
            min-width: 220px;
            max-width: 300px;
            outline: 2px solid darkslategrey;
            border-radius: .4em;
            background: salmon;
            overflow: hidden;
            cursor: pointer;

            h3{
                padding: .4rem;
                color: rgb(30, 30, 30);
                font-weight: 700;
            }

            p{
                padding: .4rem;
                color: darkslategrey;
                font-weight: 400;
            }
            
            img{
                width: 100%;
                object-fit: cover;
                transition: 400ms transform;
                border-radius: .4em .4em 0 0;
            }
            
            &:hover img, &:focus img{
                transform: scale(1.3);
            }

            &__imgContainer{
                width: 100%;
                aspect-ratio: 1;
                overflow: hidden;
            }
        }
    }

    &__wall{
        width: 50%;
        height: calc(100vh - 4rem);
        padding-left: 4rem;
        padding-right: 4rem;
        margin: auto;

        &__gridContainer{
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            gap: .8rem;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            padding-top: 4rem;
            padding-bottom: 4rem;
           
    
            .products__wall__gridContainer__img{
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: .4em;
                border: 4px dashed salmon;
    
                &:nth-child(1){
                    grid-area: 1 / 1 / 1 / 4;
                }
    
                &:nth-child(2){
                    grid-area: 1 / 4 / 4 / 6;
                }
             
                &:nth-of-type(3){
                    grid-area: 2 / 1 / 4 / 4;
                }
    
                &:nth-of-type(4){
                    grid-area: 4 / 1 / 5 / 6;
                }
    
    
                &:hover img, &:focus img{
                    transform: scale(1.3);
                }
            }

            img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                border-radius: .4em;
                transition: transform 400ms;
                cursor: pointer;
            }
        }

        @include laptop{
            width: 100%;
            padding: 0;
        }
    }

    @include laptop{
        flex-flow: column wrap;
    }
}

.translateX-0{
    transform: translateX(0);
}