// Colores
$azul: #2e33d1;
$blanco : #fff;
$negro : #000;
$blanco-texto : #ccc;
$negro-texto : #393636;
$gris-oscuro : #141414;
$amarillo : #8BE864;

// Bordes
$borde-blanco : 1px solid #fff;
$borde-blanco-2 : 1px solid #ccc;
$borde-negro : 1px solid #000;
$borde-redondeado : 5px;

// Sombras
$sombra-negra : 1px 1px 8px 0 #000;
$sombra-amarilla : 0 0 8px 0 darken($amarillo, 50%);

// Margins - Paddings
$margin-titulo : 9.375rem;
$padding-titulo : 0.625rem;

// Fuentes
$poppins: 'Poppins',
sans-serif;